:root {
	--primary-font: #fff;
	--clr-cherry-red: #E63946;
	--clr-white-primary: #F1FAEE;
	--clr-sky-blue: #A8DADC;
	--clr-water-blue: #457B9D;
	--clr-bold-blue: #1D3557;
}

* {
	margin : 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	height: 100vh;
	background-color: var(--clr-white-primary);
}

button {
	cursor: pointer;
}


header {
	/* position: absolute; */
	background-color: var(--clr-bold-blue);
	color: var(--primary-font);
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	height: 5rem;

	/* position: fixed; */
	z-index: 10;
}

.business--logo {
	font-size: 3rem;
	color: var(--clr-white-primary);
}

header > h5 {
	margin-left: 1rem;
	color: var(--clr-white-primary);
}

.stars--container {
	width: 3rem;
}

.stars--container > img {
	width: 100%;
	object-fit: contain;
}


.wishlist {
	position: absolute;
	top: 0.0rem;
	right: 0;
	overflow-y: auto;
	width: 35%;
	height: 100%;
	color: black;
	background-color: #fff;
	box-shadow: 10px 10px 500px rgba(0, 0, 0, 100);
	z-index: 998; 
}

.wishlist > h3 {
	text-align: center;
	font-size: 20px;
}

.wishlist--product--list {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	padding: 0 20px;
}

.wishlist--header {
	display: flex;
	flex-direction: row;
	height: 2rem;
	padding: 10px 20px;
	margin: auto;
	justify-content: space-between;
	align-items: center;
	/* background-color: #A8DADC; */
	color: var(--clr-bold-blue);
	font-size: 1.5rem;
}

.close--button {
	/* font-size: 1.6rem; */
	padding: 0.2rem 0.5rem;
	border-radius: 5px;
	border: none;
	background-color: transparent;
	transition: 0.5s;
}

.close--button:hover {
	background-color: #E63946;
}

.close--button:active {
	background-color: #1D3557;
}

.wishlist--product--card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 1rem 0;
	padding: 1rem;
	background-color: var(--clr-sky-blue);
}


.cart {
	position: absolute;
	top: 0.0rem;
	right: 0;
	overflow-y: auto;
	width: 35%;
	height: 100%;
	/* height: auto; */
	color: black;
	background-color: #fff;
	/* box-shadow: 10px 10px 500px rgba(0, 0, 0, 100); */
	z-index: 999; 
  }


  .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
	z-index: 99; /* Ensure the overlay is on top of other elements */
	/* display: none; Initially hidden */
  }

@media (max-width: 500px) {
	.cart {
		top: 1rem;
		width: 98%;
	}
}

  .cart--header {
	display: flex;
	flex-direction: row;
	height: 2rem;
	padding: 10px 20px;
	margin: auto;
	justify-content: space-between;
	align-items: center;
	/* background-color: #A8DADC; */
	color: var(--clr-bold-blue);
	font-size: 1.6rem;
  }


.cart--count {
	text-align: center;
	background-color: var(--clr-sky-blue)
}
  
.cart--product--list {
	display: flex;
	flex-direction: column;
	overflow-x: auto;
	/* max-height: 60vh; */
	margin-top: 20px;
}

.product--header {
	background-color: var(--clr-bold-blue);
	width: 100%;
	height: 1.2rem;
	margin: auto 0;
	color: #fff;
	padding: 0 0 0 20px;
}

.cart--product--card {
	display: flex;
	flex-direction: row;
	width: 95%;
	height: 7rem;
	padding: 0.3rem;
	margin: 0.5rem 0 0 1rem;
}

.cart--product--image--container {
	width: 6rem;
}

.cart--product--image--container > img {
	width: 100%;
	object-fit: contain;
}

.cart--product--information {
	display: flex;
	flex-direction: column;
	width: 60%;
	margin-left: 1%;
	padding: 20px;
	justify-content: space-between;
}

hr {
	width: 100%;
	height: 0.4rem;
	margin: 5px auto;
	background-color: black;
}

.display--cart--total {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 2px;
}

.checkout {
	display: flex;
	margin: 2rem auto;
	justify-content: center;
}

.checkout--button {
	width: 80%;
	height: 3rem;
	background-color: #E63946;
	color: #F1FAEE;
	font-size: 1.7rem;
	border: none;
}





.logo--container {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 19%;
	font-size: 25px;
}

form {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	width: 50%;
	font-size: 16px;
	
}

.search--product--input {
	width: 70%;
	height: 2.5em;
	padding-left: 10px;
	border: none;
	border-radius: 2px;
	background-color: var(--clr-white-primary);
	
}

/* .search--button {
	padding: 0.2rem 0.5rem;
	border-radius: 5px;
	border: none;
	background-color: var(--clr-water-blue);
	transition: 0.5s;
}

.search--button:hover {
	background-color: #E63946;
}

.search--button:active {
	background-color: #1D3557;
} */

.search--button {
	width: 3rem;
	height: 2.1rem;
	margin-left: 20px;
	display: flex;
	align-items: center;
	justify-content: center;

	background-color: var(--clr-sky-blue);

	border: none;
	border-radius: 0.2rem;
}

.toggle--buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	
	width: 15%;
}

.toggle--buttons > button {
	width: 7rem;
	height: 2.1rem;
	margin-right: 20px;
}

.cart--button {
	/* background-color: var(--clr-cherry-red); */
	background-color: var(--clr-sky-blue);
	/* color: var(--primary-font); */
	color: var(--clr-bold-blue);
	font-size: 16px;

	border: none;
	border-radius: 0.3rem;
}

.wishlist--button {
	background-color: var(--clr-sky-blue);
	font-size: 16px;

	border: none;
	border-radius: 0.2rem;
}





.category--container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	cursor: pointer;
}








.product--grid {
	background-color: var(--clr-white-primary);
	/* position: relative; */

	display: grid;
	grid-template-columns: repeat(4, 18em);
	gap: 20px;
	justify-content: center;
	align-items: center;
	margin: 3rem auto;
}




.end--search--button {
	margin: 0.5rem;
}



.product--card {
	position: relative;

	background-color: var(--primary-font);
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	/* justify-content: center; */
	/* align-items: center; */

	width: 100%;
	/* height: 24em; */

	border: 1px solid grey;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.product--image--container {
	display: flex;
	margin: 10px auto;
	width: 100%;
	height: 13em;
	cursor: pointer;
}

.product--image {
	display: flex;
	width: 80%;
	height: auto;
	object-fit: contain;
	margin: 0 auto;
	cursor: pointer;
}

.product--information {
	display: flex;
	flex-direction: column;
	height: 5em;
	align-items: flex-start;
	padding: 2px 10px;
}

.product--name {
	font-size: 1.2rem;
	font-weight: 500;
	display: flex;
	align-items: center;
	height: 2em;
	cursor: pointer;
}

.product--price {
	margin: 10px 0;
	font-weight: 600;
}

.action--buttons {
	margin: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.addToCart {
	background-color: var(--clr-bold-blue);
	/* background-color: lime; */
	color: #fff;
	border: none;
	border-radius: 0.2em;
	width: 6rem;
	padding: 0.5rem;
	cursor: pointer;
}

.addtowishlist {
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: transparent;
	/* background-color: lime; */
	/* color: #fff; */
	color: var(--clr-bold-blue);
	border: none;
	border-radius: 0.2em;
	width: 2rem;
	margin: auto 0;
	cursor: pointer;
	/* padding: 0.5rem; */
}

.wishlist-icon {
	transition: 0.6s;
}

.wishlist-icon:active {
	color: var(--clr-cherry-red);
}


@media(max-width: 500px) {
	.product--grid {
		grid-template-columns: 1fr 1fr;
		gap: 30px 5px;
		margin: 0 auto;
		width: 90%;
	}

	.product--name {
		height: auto;
	}

	.action--buttons {
		margin-top: 20px;
	}

	.addToCart {
		width: 4.5rem;
		padding: 0.2rem;
	}

	.addtowishlist {
		padding: 0.4rem;
	}
}




.product--page {
	position: absolute;
	top: 1rem;
	bottom: 0;
	left: 0;
	right: 0;
	/* overflow-y: auto; */
	padding: 1rem;
	/* width: 35%; */
	height: 100%;
	color: black;
	background-color: #fff;
	/* box-shadow: 10px 10px 500px rgba(0, 0, 0, 100); */
	z-index: 999; 

	display: flex;
	flex-direction: column;
}

.product--page--head {
	display: flex;
	flex-direction: row;

	/* margin: 0 auto; */
	width: auto;
	align-items: center;
	padding: 0.5rem 8rem;
	justify-content: space-between;
}

.product--page--body {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 2rem auto;
	width: 100%;
	height: auto;
}

.product--page--image--container {
	width: 30%;
	/* height: 60%; */
}

.product--page--image--container > img {
	width: 100%;
	object-fit: contain;
}

.product--page--information {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 50%;
	/* margin: 0 auto; */
	margin-left: 1rem;
}

.product--page--name {
	font-size: 2rem;
}

.product--page--information > p {
	font-size: 1rem;
}

.product--page--price {
	font-size: 1.5rem;
}