/* Global Styles */
:root {
	--primary-font: #fff;
	--clr-cherry-red: #E63946;
	--clr-white-primary: #F1FAEE;
	--clr-sky-blue: #A8DADC;
	--clr-water-blue: #457B9D;
	--clr-bold-blue: #1D3557;
}

body,
h1,
h2,
h3,
p {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

img {
	max-width: 100%;
	height: auto;
}

/* Disable text selection */
body {
	user-select: none;
	overflow-x: hidden;
}

/* Enable text selection within specific elements */
.enable-select {
	user-select: text;
}

/* Header Styles */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	background-color: var(--clr-bold-blue);
	color: var(--clr-white-primary);
}

.logo--container {
	display: flex;
	align-items: center;
}

.logo--container h3 {
	margin-left: 0.625rem;
}

.search--box--container {
	width: 90%;
	display: flex;
	justify-content: center;
}

.search--product--input {
	/* width: 15rem; */
	width: 70%;
	padding: 0.5rem;
	margin-right: 1.25rem;
	border: none;
	border-radius: 0.3125rem;
}

.search--button {
	background-color: var(--clr-sky-blue);
	border: none;
	border-radius: 0.3125rem;
	padding: 0.5rem;
	cursor: pointer;
}

.toggle--buttons {
	display: flex;
	justify-content: space-around;
}

/* Individual Toggle Button Styling */
.toggle--buttons button {
	background-color: transparent;
	border: none;
	color: var(--clr-white-primary);
	font-size: 16px;
}





/* Stop scrolling on main page when either of these are true */

/* Wishlist and Cart Modals */
.empty--error,
.wishlist,
.cart,
.checkout {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 50px;
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	z-index: 1000;
	width: 40%;
	max-width: 80%;
	height: 95vh;
	overflow-y: auto;
	color: black;
	display: flex;
	flex-direction: column;
}

.wishlist--header,
.cart--header,
.checkout--header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

h2 {
	font-size: 2.25rem;
}

.close--button {
	background-color: transparent;
	border: none;
}

.close--button span {
	font-size: 2.65rem;
}

.cart--count {
	font-size: 1.625rem;
	color: #555;
	border-bottom: 2px solid var(--clr-bold-blue);
}

.wishlist--product--list,
.cart--product--list,
.checkout--product--list {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	gap: 10px;
	max-height: 70vh;
	overflow-y: auto;
}

.action--product--card {
	margin-top: 1rem;
	max-width: 100%;
	display: flex;
	border: 2px solid grey;
	/* border-bottom: 2px solid grey; */
}

.wishlist--product--card {
	display: flex;
	justify-content: space-between;
	width: 95%;
	padding: 1rem;
	margin: 0 auto;
}

.action--product--card--img--container {
	/* width: 40%; */
	display: flex;
	justify-content: center;
	width: 25%;
	height: 7em;
	cursor: pointer;
	overflow: hidden;
}

.action--product--card--img--container img {
	/* object-fit: contain;
  width: 100%; */

	display: flex;
	width: 100%;
	height: auto;
	object-fit: contain;
	margin: 0 auto;
	cursor: pointer;
	transition: transform 0.3s ease;
}

.action--product--information {
	margin-left: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.action--product--name {
	font-weight: 600;
}

.action--product--extras {
	color: #555;
}

.checkout--button {
	background-color: var(--clr-cherry-red);
	border: none;
	border-radius: 5px;
	padding: 2rem 0;
	font-size: 1.625rem;
	color: #fff;
	width: 100%;
}




.product--grid {
	background-color: var(--clr-white-primary);

	display: grid;
	grid-template-columns: repeat(4, 18em);
	gap: 0.625rem;
	justify-content: center;
	align-items: center;
	margin: 3rem auto;
	padding: 0.625rem;
}

.product--card {
	position: relative;

	background-color: #fff;
	display: flex;
	flex-direction: column;
	margin: 0 auto;

	width: 100%;
	height: 100%;


	border: 1px solid #ddd;
	border-radius: 8px;
	overflow: hidden;
}

.product--image--container {
	display: flex;
	margin: 10px auto;
	width: 100%;
	height: 13em;
	cursor: pointer;
	overflow: hidden;
}

.product--image {
	display: flex;
	width: 90%;
	height: auto;
	object-fit: contain;
	margin: 0 auto;
	cursor: pointer;
	transition: transform 0.3s ease;
	/* Add a smooth transition effect on hover */
}

.product--image:hover {
	transform: scale(1.1);
	/* Add a slight zoom effect on hover */
}

.product--information {
	font-family: Arial, Helvetica, sans-serif;
	padding: 6px;
}

.product--name {
	font-size: 1.1rem;
	font-weight: bold;
	margin-bottom: 8px;
	cursor: pointer;
}

.product--price {
	font-size: 1rem;
	color: #555;
}

.action--buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px 5px;
}

.addToCart,
.addtowishlist {
	/* make it glowy lime green */
	background-color: var(--clr-bold-blue);
	color: #fff;
	border: none;
	padding: 8px 16px;
	border-radius: 4px;
	cursor: pointer;
	transition: 0.3s ease;
}

.addtowishlist {
	position: absolute;
	top: 0;
	right: 0;
	background-color: transparent;
}

.addToCart:hover,
.addtowishlist:hover {
	background-color: var(--clr-cherry-red);
}

.stars--container {
	display: flex;
	/* margin: 10px; */
	width: 40%;
	height: 1.3em;
	cursor: pointer;
	overflow: hidden;
}

.stars--container img {
	display: flex;
	width: 100%;
	/* height: auto; */
	object-fit: contain;
	margin: 0 auto;
	cursor: pointer;
}

.wishlist-icon {
	font-size: 1.5rem;
	color: var(--clr-cherry-red);
}








.product--page {
	display: flex;
	flex-direction: column;
	padding: 1rem;


	width: 100%;
	max-width: none;
	position: absolute;
	background-color: #fff;
	top: 0;
	right: 0;
	/* height: 46rem; */
	height: 95vh;
	z-index: 1001;
}

.product--page--header {
	display: flex;
	justify-content: space-between;
	padding: 0 3rem;
	align-items: center;
}

.product--page--body {
	display: flex;
	flex-direction: column;
}

.sub--header {
	margin: 1rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: auto;
}

.product--page--name {
	font-size: 1.65rem;
	font-weight: 600;
}

.product--page--close--button {
	background-color: transparent;
	border: none;
}

.product--page--close--button span {
	font-size: 2rem;
}

.product--page--image--container {
	width: 70%;
	height: 294px;
	display: flex;
	margin: 0 auto;
}

.product--page--image--container img {
	object-fit: contain;
	display: flex;
	width: 100%;
	margin: 0 auto;
}

.product--page--prod--info {
	margin: 1rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.product--page--price {
	font-size: 1.25rem;
	font-weight: 600;
}

.product--page--addtocart {
	background-color: var(--clr-cherry-red);
	border: none;
	border-radius: 5px;
	padding: 2rem 0;
	font-size: 1.625rem;
	color: #fff;
}






/* Adjustments for Small to Medium Devices */
@media screen and (max-width: 600px) {
	header {
		flex-direction: column;
		align-items: center;
	}

	.toggle--buttons {
		position: fixed;
		bottom: 0;
		width: 100%;
		background-color: var(--clr-bold-blue);
		padding: 10px;
		display: flex;
		justify-content: space-around;
		z-index: 10000;
	}

	.cart--button,
	.wishlist--button {
		margin-right: 0;
	}

	.search--box--container {
		margin-top: 10px;
	}


	.product--grid {
		grid-template-columns: repeat(2, 1fr);
	}


	.empty--error,
	.wishlist,
	.cart,
	.checkout {
		width: 100%;
		max-width: none;
	}

	.wishlist--product--list,
	.cart--product--list,
	.checkout--product--list {
		max-height: none;
		/* Remove max-height on small screens */
	}


	body {
		/* for the product page to be position top */
		position: relative;
	}

	.product--page {
		width: 100%;
		max-width: none;
		position: absolute;
		background-color: #fff;
		top: 0;
		right: 0;
		/* height: 46rem; */
		height: 95vh;
		z-index: 1001;
	}
}






@media (min-width: 601px) and (max-width: 850px) {

	header {
		flex-direction: column;
		align-items: center;
	}

	.toggle--buttons {
		position: fixed;
		bottom: 0;
		width: 100%;
		background-color: var(--clr-bold-blue);
		padding: 10px;
		display: flex;
		justify-content: space-around;
		z-index: 10000;
	}

	.cart--button,
	.wishlist--button {
		margin-right: 0;
	}

	.search--box--container {
		margin-top: 10px;
	}




	.product--grid {
		grid-template-columns: repeat(3, 1fr);
	}

	.empty--error,
	.wishlist,
	.cart,
	.checkout {
		height: 100vh;
		width: 70%;
		max-width: 90%;
	}

}


@media (min-width: 851px) and (max-width: 1200px) {

	.product--grid {
		grid-template-columns: repeat(3, 1fr);
	}
}


/* @media screen and (min-width: 1200px) {

	.product--grid {
		grid-template-columns: repeat(5, 1fr);
	}
} */

/* ALSO STYLES FOR SEARCHED PRODUCTS */