* {
	margin : 0;
	padding: 0;
}

body {
	height: 100vh;
}

button {
	background-color: #000;
	color: #fff;
}

.product--grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.product--image--container {
	width: 300px;
}

img {
	width: 50%;
}

h3 {
	display: inline-block;
}

h4 {
	display: inline-block;
}

.cart {
	position: absolute;
	right: 10px;
	top: 10px;
	transform: translate(-45%);
	overflow: hidden;
}

.wishlist {
	position: absolute;
	right: 50%;
	top: 10px;
	transform: translate(-45%);
	overflow: hidden;
}